[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/openvgui"]
	path = external/openvgui
	url = https://github.com/FWGS/openvgui
[submodule "external/vgui_support"]
	path = external/vgui_support
	url = https://github.com/FWGS/vgui_support
